.btn-plus {
    color: white;
    background-color: #4FAC5C;
    border-radius: 14px;
    border: none;

}

.btn-minus {
    color: white;
    background-color: #AF2419;
    border-radius: 14px;
    border: none;

}