body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Currency Component style */

.currency-dropdown,
.currency-dropdown:hover,
.currency-dropdown:focus
{
    background-color: #77dd77;
    border: none
}

.currency-menu {
    background-color: #79ee79;
    color: #000;
    border: 1px solid #000;
}

.currency-item:hover {
    background-color: #FFF;
}

/* Expense item style */

.plus:hover, .minus:hover {
    cursor: pointer;
}